{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset("./styles/form.css")}}">
    <link rel="stylesheet" href="{{asset("./styles/buttons.css")}}">
    <div class="formulaire">    
        <div class="bgForm">   
            <h1 class="titre">{{user.firstname}} {{user.lastname}}</h1> 
            <div class="field">
                <p> {{user.firstname}} {{user.lastname}} propose les compétences suivantes:</p>
                <ul>
                    {% for skillOffered in user.userSkillOffereds %}
                       <li> {{ skillOffered.label }} </li>
                    {% endfor %}                  
                </ul>
            </div> 
            <br>
            <div class="field">
                <p> {{user.firstname}} {{user.lastname}} recherche les compétences suivantes:</p>
                <ul>
                    {% for skillWanted in user.userSkillWanteds %}
                       <li> {{ skillWanted.label }} </li>
                    {% endfor %}                  
                </ul>
            </div> 
            <div class="buttons">
                <a id="retour" href="{{ app.request.headers.get('referer') }}">Retour</a>
            </div> 
        </div>
    </div>

{% endblock %}
