{% extends 'base.html.twig' %}

{% block title %}Modification de compétence{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset("./styles/form.css")}}">
    <link rel="stylesheet" href="{{asset("./styles/buttons.css")}}">
    <div class="formulaire">    
        <div class="bgForm"> 
            <h1>Suppression ou modification</h1>

            {{ include('skill/_form.html.twig') }}
            <div class="buttons">
                {{ include('skill/_delete_form.html.twig') }}
                <a href="{{ path('app_skill_index') }}" id="retour">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
